.btn-ghost {
  color: #e4e4e4;
  border: 1px solid #ffffff;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: 0.6s ease;
  text-decoration: none;
}

.btn-ghost:hover {
  color: #b320e0;
  border: 1px solid #b320e0;

}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
  width: 150px;
  text-align: center;
  margin-right: 20px;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}


.btn-delete {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #ff2739;
  transition: background 0.3s ease;
  width: 200px;
  text-align: center;
  text-size-adjust: 50%;
}

.btn-delete:hover {
  background: #9d0000;
  color: white;
}


.btn-flat-small {
  color: white;
  padding: 4px 12px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;

}

.btn-flat-small p {
  size: 20px;
}

.btn-flat-small:hover {
  background: #4D04C4;
  color: white;
}
