.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover{
  opacity: 75%;
}

// this is the cards layout
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding-top: 24px;
  padding-bottom: 16px;
}

// these are the cards for the index - with price ect.

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-align: left;
}

.card-trip h5 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-align: left;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// book now card

.booking_card {
  background-color: #e0e0e0;
  width: 350px;
  padding-top: 20px;
  border-radius: 8px;
  border: 2px solid #670BFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.933)
}


.description_card {
  padding-left: 60px;
  padding-top: 20px;

}

.login_card {
  background-color: #e0e0e0;
  padding: 18px 28px;
  border-radius: 8px;
  border: 2px solid #670BFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.933)
}

img {
  max-width: 100%;
}


.confirmation_card {
  background-color: #e0e0e0;
  padding: 18px 28px;
  border-radius: 8px;
  border: 2px solid #670BFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.933);
  width: 550px;
  margin: 100px auto;
}

.astro-image {
  height: 200px;
  width:380px;
  background-size: cover;
  background-position: center;

}

ul {
  list-style: none;
}
